#sbTitle {
	display: block;
	position: absolute;
	top: 256px;
	left: 99px;
	width: 313px;
	height: 33px;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
#TXt {
	display: block;
	position: absolute;
	top: 362px;
	left: 143px;
	width: 736px;
	height: 143px;
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

#next{
	top: 50%;
	right: 20px;
	position: absolute;
}