#back {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1024px;
	height: 690px;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
	z-index: 10;
}
#btn1{
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 135px;
	height: 79px;
}
#btn2{
	display: block;
	position: absolute;
	left: 140px;
	top: 0px;
	width: 157px;
	height: 79px;
}
#btn3{
	display: block;
	position: absolute;
	left: 303px;
	top: 0px;
	width: 147px;
	height: 79px;
}
#btn4{
	display: block;
	position: absolute;
	left: 456px;
	top: 0px;
	width: 147px;
	height: 79px;
}
#btn5{
	display: block;
	position: absolute;
	left: 608px;
	top: 0px;
	width: 157px;
	height: 79px;
}
#btn6{
	display: block;
	position: absolute;
	left: 775px;
	top: 0px;
	width: 106px;
	height: 79px;
}
#btn7{
	display: block;
	position: absolute;
	left: 886px;
	top: 0px;
	width: 138px;
	height: 79px;
}
#logo {
	display: block;
	position: absolute;
	right: 0px;
	bottom: 63px;
	width: 288px;
	height: 117px;
	z-index: 10;
}
#txt1 {
	display: block;
	position: absolute;
	left: 10px;
	top: 200px;
	width: 13px;
	height: 494px;
	z-index: 10;
}